<h5>Users List</h5>
<div class ="wrapper">
    <ul class="users">
        <li *ngFor="let user of users">
        <span class="badge">{{user.id}}</span>
        <span class="name">{{user.name}}</span>
        <button [class.selected] = "user=== selectedUser" type="button"
        (click)="onSelect(user)"> Description </button>
        </li>
    </ul>
    <div class = "description" *ngIf="selectedUser">
        <p>{{selectedUser.name}} Description</p>
        <div>
        <label for="user-descrition">Description: </label>
        <span id="user-description"> {{selectedUser.description}}</span>
        </div>
    </div>
</div>

