<nav>
  <h3>Root Components</h3>
  <button type="button" (click)="toggleSection('list')">User List</button>
  <button color="warn" type="button" (click)="toggleSection('experiments')">Experiment</button>
</nav>


<div class="content" role="main">
  <h3>{{title}}</h3>
  <app-users *ngIf="showListSection"></app-users>
  <app-experiments *ngIf="showExperimentSection"></app-experiments>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
